@mixin flash_in_effect($action) {
  animation: flash_#{$action}_effect 0.3s ease-out;

  @keyframes flash_in_effect {
    0% {
      opacity: 1;
    }
    20% { 
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flash_out_effect {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
