@mixin dropdown_key_frames($action) {
  @keyframes #{$open-modal-keyframe} {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
      opacity: 1;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes #{$close-modal-keyframe} {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }
    20% {
      opacity: 0.8;
      transform: translateY(10%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}

@mixin flash_keyframes($action) {
  @keyframes #{$flash_in} {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes #{$flash_out} {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin backdrop_keyframes($action) {
	@keyframes #{$show_backdrop} {
		0% {
			opacity: 0;
			z-index: -5;
		}
		99% {
			opacity: 1;
			background-color: transparentize(#000, 0.4);
		}
		100% {
			z-index: $zindex-modal-backdrop;
		}
	}

	@keyframes #{$hide_backdrop} {
		0% {
			opacity: 1;
			z-index: $zindex-modal-backdrop;
			background-color: transparentize(#000, 0.4);
		}
		100% {
			opacity: 0;
		}
	}
}

