@import 'variables';

body {
	margin: 0;
	background-image: url('../imgs/0-02-04-77b8cbb0c9821e9239f810248a1f2ac2546b19512bea6d008bc387393e91ed65_1c6d9798a181da.jpg');
	background-position: center center;

	.App {
		@include apply_flex(column, wrap) {
			align-items: center;
		};
		width: 1200px;
		margin: #{$border_margin};
		height: calc(100vh - #{$app_double_border_margin});
		border-radius: $main_border_radius;
		background-color: transparentize( $white, 0.7);
	
		@media screen and (max-width: 1000px) {
			max-width: 1000px;
			width: auto;
		}
	
		@media screen and (max-width: 800px) {
			max-width: 800px;
			width: auto;
		}
	
		.App-layout {
			width: 100%;
			height: 100%;
		}
	}
}