.DragPlayer {
	&:not(.active) {

	}

	@include apply_flex() {
		justify-content: space-between;
		align-content: center;
	}
	width: 400px;
	height: 300px;
	position: absolute;
	z-index: $zindex-sticky;
	background-color: #ccc;
	border: 1px solid #000;

	& .dragPlayer-header {
		@include apply_flex(row, nowrap) {
			justify-content: space-between;
		}
		background-color: #fff;
		
		& .draggableArea {
			align-self: center;
			width: 100%;
			height: 10px;
			cursor: move;
			background-color: #f00;
		}
		
		.x-close-btn {
			
		}
	}
}