.#{$EmbeddedPlayer} {
	padding-top: $modal-header-padding/2;
	height: 100%;

	&.#{$changing} {
		animation: $embedded-player-flashing;
		@include flash_keyframes();
	}

	& iframe {
		width: 100%;
		height: 100%;
	}
}