.PreviewThumb{
	width: 250px;
	margin: 7.5px;
	background-color: #ccc;
	border: 1px solid #000;
	@include apply_flex(column, nowrap) {
		justify-content: space-between;
		align-items: center;
	};

	h5 {
		padding: 1rem auto;
		margin: 0;
		background-color: rgba(0,0,0,0.5);
		align-self: center;
	}

	img {
		width: 100%;
		object-fit: contain;
		object-position: 50% 50%;
	}
}