.PreviewThumb{
	width: 250px;
	margin: 7.5px;
	background-color: transparentize(#fff, 0.5);
	border: $main_border;
	border-radius: 5px;
	@include apply_flex(column, nowrap) {
		justify-content: space-between;
		align-items: center;
	};

	& .title {
		padding: .15rem;
		margin: 0;
		font-size: $thumb-title;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		text-transform: capitalize;
	}
	
	& img {
		width: 100%;
		object-fit: contain;
		object-position: 50% 50%;
		background-color: #000;
		cursor: pointer;
	}

	& .footer {
		width: 100%;
		@include apply_flex(row, nowrap);
	}

	& .footer > * {
		width: 50%;
	}
}