
.VS {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: $border-margin;
	border: $main-border;
	border-radius: $main-border-radius - 2;
	height: 100%;
	background-color: rgba(0,0,0,0.2);

}